html{
	
margin:0;
padding:0;
color:white;
font:20px Helvetica,sans-serif;
background:url(http://i.imgur.com/5Cd36I1.png);
}

.drums{
	height: 100vh;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.item{
	flex:0 1 80px;
	height:50px;
	background: rgba(0,0,0,0.3);
	text-align: center;
	border:4px solid black;
	transition:all 0.07s;
	cursor: initial;
}

.item .label{
	font-size: 15px;
	display: block;
	color:goldenrod;
}

.play{
	box-shadow: 0 0 15px 5px white;
	transform:scale(1.1);
}