*{
	margin:0;
	padding:0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:BADA55;
	background:linear-gradient(135deg, #bbff11 0%, #baba01 40%, #afee05 100%);
}

.player{
	flex: 0 1 80%;
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: flex-end;
	overflow: hidden;
}

.thevideo{
	order:1;
	width: 100%;
}

.controls
{
	order:2;
	flex:1;
	width:100%;
	background:navy;
	position: absolute;
	bottom:0;
	transform: translateY(25px);
	transition: all 0.3s;
}

.player:hover .controls{
	transform:translateY(0);
}

.player:hover .controls1{
	height:30px;
}

.controls1{
	background:black;
	height:5px;
	width:100%;
	position: relative;
	display:flex;
}

.progress{
	flex: 0 1;
	flex-basis:20%;
	background:peachpuff;
}

.controls2{
	background: deepskyblue;
	height:25px;
	width:100%;
}